@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --color-black:#0f172a;
    --color-blue:#2563eb;
    --color-white:#fff;
}
body{
    font-family: 'Montserrat', sans-serif;
}
hr{
    margin:2rem 0rem;
}
h3  {
    color:#1D4ED8;
}
.social-links{
    display: flex;
    justify-content: flex-start;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
max-width: 600px;
margin :auto;
}
.links{
    text-decoration: none;
    padding:0.5rem 0rem;
    color:#2563eb;

}
.links-github{
    color:#2563eb;


}
.primary-link{
    background-color:#1D4ED8;
border-radius: 0.5rem;
color:white;
padding:10px 20px;
}
.secondary-link{
   
border-radius: 0.5rem;
border: 1px solid #1D4ED8;
padding:10px 20px;

}
.non-bulet{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding:1rem 0.5rem;
}
.navigation{
    color:#1D4ED8;
    padding: 1rem;
    border-bottom-left-radius:1rem ;
}

.navigation .nav-brand{
    /* font-weight: bold; */

}

.navigation .nav-pills{
    text-align:center;
}
.navigation .links{
    /* color:white; */
    color:#1D4ED8;
    font-size: 25px;
    
  
}
.navigation .links-active{
    font-weight: bold;
    text-transform: uppercase;
}



.hero{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0px 150px;
}
.hero .hero-image{
    max-width: 200px;
    display: block;
    margin:auto;
    border-radius: 50%;
}
.hero .hero-heading{
    padding-top:1rem;
    color:black;
    text-align:left;
}
.hero .pro-heading{
text-align: right;
font-size: 30px;
}
.pro-heading .span{
    color:#1D4ED8;
    
}
.hero-heading .span{
    color:#1D4ED8;
}

.section{
    padding:2rem;
}
.section h3{
    text-align: center;

}
.pro-img{
    width:500px;
    height: 300px;
}

.hw{
    background-color:#E5E7EB ;
}
.footer{
    padding:2rem 0rem;
    text-align: center;
    color:#1D4ED8 ;

    border-top-right-radius: 1rem;
}
.footer .footer-heading{
    font-weight: bold;
    font-size: large;
}
.footer .links{
    color:#1D4ED8 ;

}
/* https://i.etsystatic.com/22846591/d/il/0d1fc9/2351075738/il_340x270.2351075738_qyk2.jpg?version=0 */



