@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
hr{
    margin:2rem 0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.container-center{
max-width: 600px;
margin :auto;
}
.links{
    text-decoration: none;
    padding:0.5rem 0rem;
}
.primary-link{
    background-color:#1D4ED8;
border-radius: 0.5rem;
color:white;
}
.secondary-link{
   
border-radius: 0.5rem;
border: 1px solid #1D4ED8;
}
.non-bulet{
    list-style: none;
}
.list-item-inline{
    display:inline;
    padding:1rem 0.5rem;
}
.navigation{
    background-color:#1D4ED8 ;
    color:white;
    padding: 1rem;
    border-bottom-left-radius:1rem ;
}

.navigation .nav-brand{
    font-weight: bold;

}

.navigation .nav-pills{
    text-align: right;
}
.navigation .links{
    color:white;
    
  
}
.navigation .links-active{
    font-weight: bold;
    text-transform: uppercase;
}

.hero{
    padding:2rem;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin:auto;
}
.hero .hero-heading{
    padding-top:1rem;
    color: #4B5563;
    text-align: center;
}
.hero-heading .span{
    color:#1D4ED8;
}

.section{
    padding:2rem;
}
.section h3{
    text-align: center;

}

.hw{
    background-color:#E5E7EB ;
}
.footer{
    background-color:#1D4ED8 ;
    padding:2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .footer-heading{
    font-weight: bold;
    font-size: large;
}
.footer .links{
    color: white;
}
https://i.etsystatic.com/22846591/d/il/0d1fc9/2351075738/il_340x270.2351075738_qyk2.jpg?version=0



