 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 :root{
     --color-black:#0f172a;
    --color-blue:#2563eb;
    --color-white:#fff;
 }
 body{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
 .container{
    max-width: 1200px;
    margin:0 auto;
    padding-left:25px;
    padding-right:25px;
    /* border:1px solid black; */
 }
 
 .navbar{
padding:10px;
 }
 .navbar ul{
    list-style-type: none;
   display: flex;
   justify-content: center;
 }
 .navbar ul li{
margin-left:50px;
font-size: 20px;
 }
 .navbar ul li a{
    text-decoration: none;
    color:var(--color-blue)
 }
 


 section{
    margin-top:50px;
 }
 
 .hero-col-2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:30px;
 }
 .hero-heading .span{
    color:var(--color-blue);
    font-size: 30px;
 }
 .hero{
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .hero-img{
    border-radius: 50%;
    width:200px;
 }
 .social-links{
    display: flex;
    justify-content:start;
    padding:0;
 }
 .social-links li{
    margin-right:20px;
 }
 .social-links li a{
    color:var(--color-blue);
 }
 .heading{
    text-align:center;
    color: var(--color-blue);
 }
 .tech-container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
margin:0 50px;
 }
 .skills{
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   font-weight: bold;
   margin:10px;
   padding:10px;
 }
 .project-container{
    display:flex;
    justify-content: center;
    margin:10px;
    flex-wrap: wrap;
 }
 .project-card{
    /* border:1px solid black; */
    margin:10px;
    width:300px;
    padding:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
.pro-heading{
    text-align: center;
}
.links{
padding:5px;
margin:5px;
border-radius: 5px;

}

.primary-link{
background-color: var(--color-blue);
color:white;

}

.secondary-link{
border: 1px solid var(--color-blue)
}
.all-pro-link{
    display: flex;
    justify-content:start;
    margin-left:70px;
    text-align: center;
    color:var(--color-blue);
    font-weight: bold;
}

/* projects */
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects li{
    margin:20px 0px;
}
.pro-container{
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: column;
      padding: 0px 20px;
        justify-content: center;

    }
.pro-img{
    width:600px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.project-text{
    font-size: 20px;

}
.project-heading{
    color:var(--color-blue);
}
 @media (max-width:600px) {
    .hero-col-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar ul{
        justify-content: flex-start;
    }
    .container{
        padding:0;
    }
    .hero{
        flex-direction: column;
    }
    .projects{
        margin:0;
    }
    .pro-img{
        width:250px
    }
    
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 